html,
body {
    margin: 0px;
    font-family: 'Crimson', Georgia, Times, serif;
    letter-spacing: 2px;
    background-color: antiquewhite;
}

/* ------------- BEGIN MAIN STYLING */
main {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    height: 1000px;
    max-width: 700px;
}
main h1 {
    text-align: center;
    color: rgba(148, 55, 171, 0.75);
}
p {
    max-width: 75ch;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 50px;
    
    outline: 7px dotted rgba(148, 55, 171, 0.18);
    outline-offset: 7px;
    border-radius: 40px 40px 40px 40px;
}